<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Notre site Web de la Commune</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="home/assets/css/fontawesome.css">
    <link rel="stylesheet" href="home/assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="home/assets/css/owl.css">
    <link rel="stylesheet" href="home/assets/css/lightbox.css">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
<style>/* Ajoutez ces styles à votre fichier de style CSS */

/* Pour aligner l'image avec le texte de la navbar */
.main-nav .logo {
    display: flex;
    align-items: center; /* Alignement vertical */
}

/* Pour ajuster la taille de la navbar */
.main-nav {
    height: 100px; /* Ajustez la hauteur selon vos besoins */
}

/* Assurez-vous que la hauteur du logo ne dépasse pas la hauteur de la navbar */
.main-nav .logo img {
   height: 80px; 
    width:80px;/* Assurez-vous que l'image ne dépasse pas la hauteur de la navbar */
}
</style>
  </head>

<body>

  

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
	   
      <div class="container">
          <div class="row">
              <div class="col-12">
				  
                  <nav class="main-nav">
					  
                      <!-- ***** Logo Start ***** -->
                      <a href="home1" class="logo">
						 <img src="https://seeklogo.com/images/R/royaume-du-maroc-kingdom-of-morocco-logo-CE824856A6-seeklogo.com.png" alt="Votre Image" class="votre-classe-image logo-image" width="70px" height="30px;" />

                           COMMUNE
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li><a href="loginFct">Esp Fonctionnaire</a></li>
                          <li><a href="Login">Esp Citoyen</a></li>
                          <li><a href="loginAdmin">Esp Admin</a></li>
                          
                           <li><a href="Login">Se Connecter</a></li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="video/f8.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h2>Bienvenue à</h2>
              <h6>Notre Commune</h6>
               <p>Nous sommes fiers de vous accueillir dans notre commune, un lieu où l'excellence et le service exceptionnel sont au cœur de tout ce que nous faisons. Notre engagement envers nos résidents va au-delà des attentes, car nous visons à créer une communauté florissante et épanouissante.</p>

          
           

              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Rejoignez-nous maintenant !</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->
<section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Prochaines Conférences</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Categories Conferences</h4>
            <ul>
              <li><a href="#">Projet Vert</a></li>
              <li><a href="#">Societe et politique
			  </a></li>
              <li><a href="#">Sante et Bien-etre</a></li>
              <li><a href="#">Conference</a></li>
              <li><a href="#">Service de demande</a></li>
            </ul>
            <div class="main-button-red">
              <a href="meetings.html">All Upcoming Meetings</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span></span>
                  </div>
                  <a href="meeting-details.html"><img src="https://admin.live.ilo.org/sites/default/files/2023-06/52951700532_df0e3916d9_k.jpg" alt="New Lecturer Meeting"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>10</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Conulter les confereneces</h4></a>
                  <p> 111e Conférence internationale du Travail</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>New</span>
                  </div>
                  <a href="meeting-details.html"><img src="https://antoine-ev.fr/wp-content/uploads/2022/02/antoine-espace-vert-paysagiste-urbain-prive-public-jardiniers-47-bordeaux.jpg"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>24</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Projets verts et espaces publics</h4></a>
                  <p>Discussion sur la création de parcs, jardins et espaces verts.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>New</span>
                  </div>
                  <a href="meeting-details.html"><img src="https://www.bookingseniors.com/blog/wp-content/uploads/2023/10/journee-mondiale-cancer-du-sein.jpg" alt="Higher Education"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>26</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Santé et Bien-être :</h4></a>
                  <p>Nutrition et mode de vie : des choix éclairés <br> pour une vie saine.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>New</span>
                  </div>
                  <a href="meeting-details.html"><img src="https://static.menara.ma/content/uploads/2022/02/nasser-bourita.jpg"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>30</span></h6>
                  </div>
                  <a href="meeting-details.html"><h4>Société et Politique :</h4></a>
                  <p> L'éthique dans la politique : construire une communauté <br>basée sur des valeurs.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item">
                                <h3>SOLLICITEZ UN SERVICE DANS NOTRE COMMUNE</h3>
                                <p>Nous vous invitons à utiliser ce formulaire pour demander des services dans notre commune au Maroc. N'hésitez pas à personnaliser votre demande en fonction de vos besoins spécifiques.</p>
                                <div class="main-button-red">
                                    <div class="scroll-to-section"><a href="#contact">Rejoignez-nous dès maintenant !</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <h3>SOLLICITEZ UN SERVICE DANS NOTRE COMMUNE</h3>
                                <p>La redistribution de tout fichier ZIP relatif à nos services sur d'autres plateformes n'est pas autorisée. Pour plus d'informations sur les services disponibles dans notre commune, veuillez nous contacter.</p>
                                <div class="main-button-yellow">
                                    <div class="scroll-to-section"><a href="#contact">Rejoignez-nous dès maintenant !</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordions is-first-expanded">
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>À Propos des Services de Notre Commune</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Si vous souhaitez en savoir plus sur les services offerts par notre commune au Maroc, veuillez nous contacter. Nous sommes déterminés à fournir des solutions adaptées aux besoins de notre communauté.</p>
                                </div>
                            </div>
                        </article>

                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Services Éducatifs</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Nos services éducatifs visent à promouvoir l'éducation de qualité. Découvrez les programmes et les ressources disponibles pour les étudiants de tous âges dans notre commune.</p>
                                </div>
                            </div>
                        </article>

                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Services de Santé</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>La santé de nos résidents est une priorité. Explorez nos services de santé, y compris les cliniques, les programmes de prévention et les initiatives communautaires axées sur le bien-être.</p>
                                </div>
                            </div>
                        </article>

                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Services Culturels et Récréatifs</span>
                                <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Découvrez les événements culturels, les installations récréatives et les programmes artistiques qui enrichissent la vie culturelle de notre commune. Rejoignez-nous pour célébrer la diversité et la créativité.</p>
                                </div>
                            </div>
                        </article>

                      
                    </div>
                </div>
            </div>
        </div>
    </section>

 <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>010-020-0340</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>info@Commune.edu</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>Rabat - RJ, 22795-008, MAroc</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.Commune.edu</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Commune Co., Ltd. All Rights Reserved. 
          <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
    </div>
  </section>
  
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="home/assets/js/isotope.min.js"></script>
    <script src="home/assets/js/owl-carousel.js"></script>
    <script src="home/assets/js/lightbox.js"></script>
    <script src="home/assets/js/tabs.js"></script>
    <script src="home/assets/js/video.js"></script>
    <script src="home/assets/js/slick-slider.js"></script>
    <script src="home/assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>